<!DOCTYPE html>
<html>
  <head>
    {% load static %}
    <title>Lost and Found</title>

    <meta name="viewport" content="initial-scale=1.0">

    <link rel="stylesheet" href="{% static "app/style.css" %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="{% static "app/js.js" %}"></script>
	{% csrf_token %}
	<script type="text/javascript">
		// using jQuery
		var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();
		function csrfSafeMethod(method) {
			// these HTTP methods do not require CSRF protection
			return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
		}
		$.ajaxSetup({
			beforeSend: function(xhr, settings) {
				if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
					xhr.setRequestHeader("X-CSRFToken", csrftoken);
				}
			}
		});
	</script>
  </head>

  <body>
    <header>
      <img src="https://cdn2.sportngin.com/attachments/photo/2122/4060/70_medium.jpg">
      <nav>
        <ul>
		<li><a href="#hero">Home</a></li>
		<li><a href="#about">About</a></li>
		<li><a href="#contact">Contact</a></li>
		<li id="currentuser">Logged in as: {% if user.is_authenticated %} {{user.username}} {% else %} guest {% endif %}</li>
		<li><a id='logout'>Logout</a></li>
	</ul>
      </nav>
    </header>
    <main>
<div class="block">
  <!--
    <section class="hero" style="{% if user.is_authenticated %}display:none{% endif %}">
  <div class="section-inner">
  <div class="signup">
          <h3>Sign up</h3>
          Username:<br>
          <input type="text" id="su_u"><br>
          Password:<br>
          <input type="password" id="su_p"><br>
          <input type="submit" value="Submit" id="su_s">
          <h3>Sign in</h3>
          Username:<br>
          <input type="text" id="si_u"><br>
          Password:<br>
          <input type="password" id="si_p"><br>
          <input type="submit" value="Submit" id="si_s">
    </div>
-->
  <div class="lostandfound">
    <form>
      <input type="radio" name="itemtype"> Lost<br>
      <input type="radio" name="itemtype"> Found<br>
      Title:
      <input type="text" id='title'><br>
      Description:
      <input type="text" id='desc'><br>
    </form>
    <input type="submit" value="Add Pin" id="ap_s">
  </div>
      <div id="map">
        <h2>Local Map</h2>
        <script>
          var map, infoWindow = null, marker;
          function initMap() {
            var location = {lat:-34.397, lng:150.644}
            map = new google.maps.Map(
              document.getElementById('map'),
              {center: location, zoom: 10});
            infoWindow = new google.maps.InfoWindow;

            // Try HTML5 geolocation.
            if (navigator.geolocation) {
              navigator.geolocation.getCurrentPosition(function(position) {
                var pos = {
                  lat: position.coords.latitude,
                  lng: position.coords.longitude
                };

                infoWindow.setPosition(pos);
                infoWindow.setContent('Your Location');
                //infoWindow.open(map);
                map.setCenter(pos);
              }, function() {
                handleLocationError(true, infoWindow, map.getCenter());
              });
            } else {
              handleLocationError(false, infoWindow, map.getCenter());
            }
            google.maps.event.addListener(map, 'click', function(event) {
              if (marker) {
                marker.setMap(null);
                marker = null;
              }
	      if (infoWindow) {
		infoWindow.close()
	      }
              marker = new google.maps.Marker({position:event.latLng, map:map, icon: blue_icon})});
          } 

        </script>
        <script async defer
          src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCUQV1j3kOLztOTQSnBJQmzEND3N1-_y5Q&callback=initMap">
        </script>
      </div>
</div>
    </main>
  </body>
  </html>
